.burger {
    display: none;

    @include media(950px) {
        display: block;
    }
}

.burger__stick {
    position: relative;
    top: 0;
    left: 0;

    width: 45px;
    height: 18px;

    &:before, &:after {
        position: absolute;
        left: 0;

        content: '';

        width: 100%;
        height: 5px;

        background-color: $color1;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}