.form {
    display: flex;
    flex-wrap: wrap;

    max-width: 565px;
    margin: 0 auto;
}

.form__elem {
    @include text($font1, normal, normal);
    font-size: 14px;
    line-height: 19px;

    width: 277px;
    height: 60px;

    margin: 0 10px 10px 0;
    padding: 20px 15px;
    
    display: flex;
    align-items: center;

    color: rgba(51, 51, 51, 0.5);
    background-color: $colorSec2;
    border-radius: $borderRad1;

    &:nth-child(even) {
        margin-right: 0;
    }
}