.nav {
    display: flex;
    justify-content: center;
}

.nav__sec {
    display: flex;

    border-bottom: 1px solid $colorSec3;

    li {
        display: flex;

        width: 133px;
        height: 100px;

        @include media(1320px) {
            width: 100px;
            height: 90px;
        }

        @include media(1100px) {
            width: 90px;
            height: 80px;
        }

        @include media(950px) {
            width: 80px;
            height: 70px;
        }

        @include media(850px) {
            width: 70px;
            height: 60px;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        text-transform: uppercase;

        transition: color 0.4s ease, background 0.4s ease;
        color: $color1;

        &:hover {
            color: $color3;
            background: rgba(255, 255, 255, 0.8);
        }

        @include media(950px) {
            display: none;
        }
    }
}