.section__content {
    width: 100%;
    max-width: 600px;

    text-align: center;
}

.section {
    display: flex;
    align-items: center;

    position: relative;

    min-height: 100vh;
    padding: 100px 0;

    &--black {
        .section__content {
            margin-left: 90px;
        }
    }

    &--white {
        .section__content {
            margin-right: 90px;
        }
    }
}


.section--master {
    @include bgBlack;

    background: url('/assets/img/master/bg.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section__illustration {
    position: relative;

    width: 475px;
    height: 475px;

    border-radius: $borderRad1;
    filter: $filter1;

    background-size: cover;
}

.illustration {
    &--about {
        background: url('/assets/img/about/1.jpg') no-repeat;
    }

    &--master {
        background: url('/assets/img/master/1.jpg') no-repeat;
    }

    &--book {
        background: url('/assets/img/book/bg.jpg') no-repeat;
    }

    &--right {
        @include square(right);
    }

    &--left {
        @include square(left);
    }
}