.section__content {
    width: 100%;
    max-width: 600px;

    text-align: center;

    &--white {
        margin-right: 90px;

        @include media(1200px) {
            margin-right: 65px;
        }

        @include media(1024px) {
            order:2;
        }
    }

    &--black {
        margin-left: 90px;

        @include media(1200px) {
            margin-left: 65px;
        }
    }

    &--white, &--black {
        @include media(1024px) {
            margin: 50px 0 0 0;
        }

        @include media(400px) {
            margin: 25px 0 0 0;
        }
    }

    @include media(1200px) {
        max-width: 500px;
    }

    @include media(550px) {
        max-width: 350px;
    }
}

.section {
    display: flex;
    align-items: center;

    position: relative;

    min-height: 100vh;
    padding: 100px 0;

    @include media(1320px) {
        overflow-x: hidden;
    }

    @include media(1024px) {
        min-height: 0;

        padding: 100px 0;
    }

    @include media(400px) {
        padding: 50px 0;
    }

    &--black {
        @include bgBlack;

        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;

        @include media(768px) {
            background-attachment: local;
        }
    }

    &--book {
        @include media(400px) {
            padding: 100px 0;
        }
    }
}


.section--master {
    background-image: url('/assets/img/master/bg.jpg');
}

.section--chocolate {
    @include media(400px) {
        padding: 100px 0;
    }
}

.section--delicious {
}

.section__illustration {
    position: relative;

    width: 475px;
    height: 475px;

    border-radius: $borderRad1;
    filter: $filter1;

    @include media(1200px) {
        height: 0;
        padding-bottom: 40%;
    }

    @include media(1024px) {
        width: 300px;
        height: 250px;

        padding-bottom: 0;
    }

    @include media(550px) {
        width: 250px;
        height: 250px;
    }

    @include media(400px) {
        width: 200px;
        height: 200px;
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: 50% 50%;

        border-radius: $borderRad1;
    }
}

.illustration {
    &--right {
        @include square(right);
    }

    &--left {
        @include square(left);
    }
}