.text {
    @include text($font1, normal, normal);
    font-size: 14px;
    line-height: 24px;

    color: $color3;

    &--head {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;

        margin-bottom: 25px;
    }
}