// == VARS ==

$font1: 'Open Sans', sans-serif;
$font2: Bunny;

$color1: #fff;
$color2: #E8C300;
$color3: #000;

$colorSec1: #333333;
$colorSec2: #E5E5E5;
$colorSec3: rgba(255, 255, 255, 0.2);

$borderRad1: 5px;


// == MIXINS ==

@mixin noSelect {
    user-select: none;
    pointer-events: none;
}

// text

@mixin text($param1, $param2, $param3) {
    font-family: $param1;
    font-style: $param2;
    font-weight: $param3;
}


@mixin animated($param) {
    &.animated {
        transform: $param; 
        opacity: 1;
    }
}

@mixin animTrans($param1, $param2, $param3) {
    transition: all $param1 ease $param2;
    transform: $param3; 
    opacity: 0;
}